<h1>List of Articles</h1>

<div id="tag_cloud" style="background-color: #EEE; border-radius: 3px; width: 100%;">
  <p>List of tags:</p>
	<% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name) %>
  <% end %>
</div>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="field">
    <%= f.label :body_cont, "Body contains" %>
    <%= f.text_field :body_cont %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

<br /><br />

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article),
       class: 'article_title', id: "article_#{article.id}" %>
       <br />
       <p>Tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
    </li>
  <% end %>
  <br /><br />
	<%= will_paginate @articles %>
  <br />
  <% if logged_in? %>
  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
  <% end %>
</ul>
